<!doctype html>
<html>
  <head>
	<meta charset="UTF-8">
  </head>
  <body>
  	<h1>Bookers </h1>
<!-- ユーザー個人情報 -->
	<div class="container">
		<div class="row">
				<div class="col-xs-3">
					<h4> Your Profile </h4>
					<img><%= attachment_image_tag @user, :profile_image, :fill, 100, 100, class: "img-circle pull-left profile-thumb" %></img> <br />
					<table class="">
					<tr>
						<th> name </th>
						<th><%= @user.name %> </th>
					  </tr>
					<tr> <th> introduction </th>
					     <th> <%= @user.profile_text %> </th>
					  </tr>
					</table>
					<% if @user.id == current_user.id %>
  			    	<%= link_to "プロフィール編集", edit_user_path(@user) %>
  					<% end %>
<!-- 投稿フォーム -->
 				 	<section class="new-book">
  						<h4> create new post </h4>
							<%= form_for(@newpost) do |f| %>
						<h4> 書籍名 </h4>
							<%= f.text_field :title %>
						<h4> 感想 </h4>
							<%= f.text_area :impression %>
							<%= f.submit '投稿する' %>
							<% end %>
  					</section>
  				</div>
<!-- 投稿内容一覧・操作メニュー -->
			<div class="col-xs-9">
		  		<section class="contents">
	  				<h2>投稿一覧</h2>
				<table border="0">
					<tr align="left">
						<th> 書籍名 </th>
						<th> 感想 </th>
						<th> 投稿者 </th>
					</tr>
	  				<% @post.each do |post| %>
					<tr align="left">
						<td> <%= link_to post.title, booker_path(post) %> </td>
						<td> <%= link_to post.impression, booker_path(post) %> </td>
						<td> <%= link_to post.user_id, booker_path(post) %> </td>
						<td class="button">
							 <%= link_to "詳しく見る", booker_path(post) %>
							 <%= link_to "編集", edit_booker_path(post) %>
							 <%= link_to "削除", booker_path(post), method: :delete %> </td>
					</tr>
	  				<% end %>
				</table>
				<%= paginate @post, class: "pagenate" %>
 	 			</section>
  			</div>
		</div>
	</div>
  </body>
</html>
